
body{
    margin: 0;
    padding: 0;
}


 .backgroundwebsite {
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/466/922/non_2x/cup-of-coffee-espresso-beans-web-banner-with-copy-space-generative-ai-free-photo.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
 .video{
    display: none;
 }


@media(max-width: 750px){
    .small{
        display: block;
      align-items: center;
   }
 
}

@media(min-width:751px) and (max-width: 1024px) {
    .medium{ 
        display: block; 
     align-items: center;
    }
   
}


@media(min-width: 1025px){
    .large{
        display: block;
        align-items: center;
    }
   

}

 .box{ 
    border:2px solid black;
    padding: 20px;
    margin: 20px;
 }
  

 .animated{
    margin: 0;
    padding:0;
    background: linear-gradient();
    background-size: 400% 400%;
    animation:gradient 10s infinite;
    font-family: ;
 }