
body{
    margin: 0;
    padding: 0;
}


 .backgroundwebsite {
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/466/922/non_2x/cup-of-coffee-espresso-beans-web-banner-with-copy-space-generative-ai-free-photo.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
 .video{
    display: none;
 }


@media(max-width: 600px){
    .video-small{
        display: block;
   
}
}

@media(min-width:601px) and (max-width: 1024px) {
    .video-medium{ 
        display: block; 
    }
}


@media(min-width: 1025px){
    .video-large{
        display: block;}
   

}

 .box{ 
    border:2px solid black;
    padding: 20px;
    margin: 20px;
 }
