
 .backgroundwebsite {
    background-image: url('https://play.vsthemes.org/frame/98/14398.webp');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
